.card{
    align-items: center;
    place-self: center;
    border: 10px;
    width: 60px;
    height:650px;
    margin-top: 10px;
    background-color: maroon;
    border: 3px solid white;
}
.font{
    height: 650px;
    font-size: x-large;
    font-family: cursive;
    color: white;
    align-content: inherit;
    width: 50%;
    padding-top: 350px;
    padding-left:100px;
   
}
.background{
    background-color: red;
}
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    font-family: "Itim", cursive; /* Apply the font to the whole body */
}

h1 {
    font-family: "Itim", cursive; /* Apply the font to h1 elements */
}